/*body{
  font-family: 'Roboto', sans-serif;
}*/

body {
  font-family: 'Roboto', sans-serif;
  /*font-size: 14px;*/
  line-height: 1.428571429;
  color: #fff;
  margin: 0px;
  background-color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  min-width: 260px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.jumbotron {
  position: relative;
  background-color:  black;
  color: #fff;
  padding-top: 42px;
  display: block;
  padding-bottom: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

#fink {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: bold;
}

#and {
  color: red;
  font-size: 86px;
  display: block;
  margin: 66px 0 0 -154px;
}

#logo {
  vertical-align: top;
}

#carouselWrapper {
  padding-top: 10px;
}

.carousel {
  background: #000;
}

.carousel .carousel-item {
  height: 300px;
}

.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

#mycarousel {
  position: relative;
  z-index: 1;
  background: #323232;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 14px 20px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 14px 20px rgba(0, 0, 0, .4);
  margin-bottom: 30px;
  padding: 30px 0 31px;
}

.movie-card {
  display: flex;
}

.movie-card > .description {
  margin-left: 10px;
}

.movie-card > .description > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.movie-card > .description > i {
  font-size: 10px;
}

.loader-container-middle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  opacity: 0.6;
  background-color: white;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loader-container > div {
  position: relative;
  top: 40%;
  margin: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#moviePages > a {
  padding: 5px;
  border: solid 1px #ddd;
  margin: 5px;
  cursor: pointer;
}